// ==== GLOBAL STYLES (buttons, etc.)
  
// Global btn
.article-btn
  width: 120px
  height: 40px
  display: flex
  justify-self: center
  align-items: center
  text-align: center
  font-size: 14px
  color: #273238
  font-weight: bold
  padding: 0 12px
  background-color: white
  border: 1px solid #C5CCD0
  border-radius: 4px
.generic-btn
  display: flex
  justify-self: center
  align-items: center
  text-align: center
  font-size: 14px
  color: #273238
  font-weight: bold
  padding: 8px
  background-color: white
  border: 1px solid #C5CCD0
  border-radius: 4px
// End global btn

// ==== GLOBAL STYLES END (buttons, etc.)

.observatorioPage

  // Mainpage
  &--main
    box-shadow: inset 0px 4px 24px 0px rgba(26, 26, 26, 0.07)
  // Title on each section with see more
  &--titleLine
    margin: 55px 0 35px
    &-txt 
      font-size: 26px
      color: #273238
      margin: 0
    &-link
      color: #8F63CC
      font-size: 12px
      display: flex
      align-items: center
      justify-content: flex-end
      svg
        display: block
        margin-left: 10px
  // Title on each section with see more end
  // Buttons for select categorie in mainpage
  &--categories-btns
    padding: 35px 0
    &-desk
      display: flex
      justify-content: flex-start
    &-mobile
      display: none
  &--categories-btn
    display: block
    width: 100%
    max-width: 145px
    padding: 8px
    border-radius: 4px
    background-color: transparent
    color: white
    text-align: center
    font-size: 14px
    white-space: nowrap
    margin-right: 10px
    border: 1px solid transparent
    border-radius: 8px
    color: #38474F
    font-weight: 600
    &.active-btn
      border-color: #9A26B5
      color: white
    &:first-child
      &.active-btn
        background-color: #9A26B5
        border-color: transparent
    img.cat-logo
      display: block
      max-height: 30px
      margin: 0 auto
  // End button for select categorie in mainpage


  // Featured article
  &--featured-article
    border-radius: 10px
    padding: 24px
    background-color: #F4F7FB
    margin: 0 0 30px
    .article-top-badge
      display: flex
      align-items: center
      justify-content: center
      text-align: center
      width: 100%
      max-width: 55px
      min-height: 20px
      background-color: white
      border-radius: 4px
      color: #5C068B
      font-size: 12px
      font-weight: bold
      svg
        display: block
        margin-right: 5px
    .article-title
      margin: 16px 0 0
      font-size: 25px
      color: #273238
    .article-by
      display: block
      color: #00534C
      font-size: 12px
      margin: 7px 0
    .article-description
      line-height: 1.75
      font-size: 13px
      color: #38474F
      margin: 0 0 30px
    // Featured article img
    &-img
      width: 100%
      position: relative
      &::before
        content: ""
        position: absolute
        bottom: -8%
        right: -3%
        width: 60%
        height: 60%
        background-color: #89D5C8
        border-radius: 5px
        z-index: 1
      &::after
        content: ""
        position: absolute
        top: 15%
        right: -3%
        width: 20%
        height: 10%
        background-color: #8F63CC
        border-radius: 2px
        z-index: 2
      img
        display: block
        max-width: 100%
        position: relative
        z-index: 3
        margin: 0 auto
        border-radius: 5px
  // Featured article


  // Grid articles
  // &--articles-grid
  &--articleItem
    padding: 10px 15px
    margin-bottom: 60px
    &-img
      max-height: 160px
      overflow: hidden
      border-radius: 8px
      margin-bottom: 15px
      display: block
      img
        width: 100%
    &-title
      color: #273238
      font-size: 15px
      line-height: 1.5
      a
        color: inherit
    &-desc
      margin: 15px 0 20px
      font-size: 13px
      color: #38474F
      line-height: 1.75
      a
        color: inherit
        font-size: inherit

  // Grid articles end

  // articles by categorie
  &--categorieArticles
    &-mainItem
      &-txt
        margin: 16px 0 0
        font-size: 18px
        color: #273238
        a
          color: inherit
      &-by
        display: block
        color: #00A499
        font-size: 13px
        margin: 7px 0
      &-desc
        line-height: 1.75
        font-size: 13px
        color: #38474F
        a
          color: inherit
      // Featured article img
      &-img
        width: 100%
        position: relative
        img
          display: block
          max-width: 100%
          position: relative
          z-index: 3
          left: -2%
          border-radius: 5px
    &-othersItems
      margin: 45px 0
      .observatorioPage--titleLine-link
        display: none
      &-grid
        display: flex
        align-items: center
      &-img
        border-radius: 5px
      &-link
        font-size: 13px
        color: #273238
        font-weight: bold
        line-height: 1.75
        display: inline-block
        margin-left: 20px

  // CTA
  &--ctaImg
    display: block
    margin: 50px 0 0px
    img
      width: 100%

  // newsletterBlock
  &--newsletterBlock
    background-color: #5C068B
    margin: 55px 0
    padding: 80px
    border-radius: 16px
    &-title
      color: white
      font-size: 30px
      margin: 0 0 15px
    &-desc
      color: white
      font-size: 17px
      line-height: 1.75
    &-form
      form
        width: 100%
        max-width: 280px
        margin: 0 auto 
        display: block
        fieldset
          &.form-columns-3
            display: block
            .hs-form-field
              width: 100%
              float: none
              label
                display: none
        .input
          margin: 0!important
        .hs_acepto_aviso_de_privacidad
          ul
            li
              label
                display: flex
                .hs-input
                  width: auto!important
                  height: auto!important
                span
                  font-size: 12px
                  color: #fff
                  display: inline-block
                  line-height: 1.3
                  padding-left: 10px
                  a
                    color: inherit
                    text-decoration: underline
                    color: inherit
                    font-size: inherit          
        .hs-input
          width: 100%!important
          max-width: 100%!important
          height: 36px
          background-color: white
          border: 1px solid #0000000D
          box-shadow: 0px 3px 6px #0000000D
          margin: 0 0 12px
          font-size: 13px
          font-weight: 600
          padding: 0 15px
          color: rgba(43,43,43,.7)
          &::placeholder
            color: rgba(43,43,43,.7)
          &[type=radio]:after,
          &[type=checkbox]:after
            box-shadow: 0 0 0 1px #0000000D
            height: 9px
            left: 0
            top: 0px
            width: 9px         
        .hs-button
          background-color: #9A26B5
          width: 100%
          text-align: center
          font-size: 14px
          color: #273238
          font-weight: bold
          color: white
          border: 1px solid #9A26B5
          border-radius: 4px

  // Sidebar          
  &--sidebar
    padding: 120px 0 60px
    position: relative
    position: sticky
    top: 0
    left: 0
    &-box
      border-radius: 6px
      background: #F4F7FB
      box-shadow: 0px 5px 10.9px 0px rgba(39, 50, 56, 0.10)
      padding: 30px 20px
      &-title
        font-size: 16px
        font-weight: bold
        color: #273238
        display: flex
        align-items: center 
        margin-bottom: 20px
        svg
          display: block
          margin-left: auto
      &-search
        h5
          font-size: 15px
          font-weight: normal
          color: #273238
        .search-form
          position: relative
          margin-top: 10px
          input[type="text"]
            border-radius: 4px
            border: 1px solid #E0EAF5     
            position: relative  
            background-color: white  
            padding: 0 12px
            width: 100%
            height: 45px
            font-size: 13px   
            outline: 0!important
            position: relative
            z-index: 1
            &::focus,
            &::active
              outline: 0!important
          svg
            position: absolute
            right: 12px
            top: 9px
            z-index: 2
          button,
          input[type="button"]
            border-radius: 4px
            background: #9A26B5 
            width: 100%
            display: block
            border: 0
            font-size: 13px
            color: white
            font-weight: bold
            height: 40px
            margin-top: 15px          
          
    // Recent Articles in sidebar
    &-recentArticles
      .title_sidebar // title
        font-size: 18px
        color: #38474F
        padding: 45px 0 15px
        font-weight: 600
    &-article
      margin-bottom: 40px
      &:last-child
        margin-bottom: 0
    // Article list
    &-articlePhoto
      width: 100%
      display: flex
      justify-content: center
      overflow: hidden
      border-radius: 5px
      img
        width: 100%
        display: block
    &-articleLink
      color: #273238
      font-size: 14px
      font-weight: 700
      line-height: 1.5
      margin: 0
      display: inline-block
      a
        color: inherit
  
  // Pagination
  &--articles-pagination
    &-list
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      margin: 0
      padding: 0 0 50px
      .pagination-link
        width: 30px
        height: 30px
        background-color: white
        border: 1px solid #E0EAF5
        border-radius: 50px
        text-align: center
        display: flex
        justify-content: center
        align-items: center
        margin: 0 8px
        color: #38474F
        &.active
          color: white
          border-color: #8F63CC
          background-color: #8F63CC
        &.arrow
          border: 0
  // Pagination end

  // Search page
  &--searchpage
    &-mainsearch
      background-color: #F4F5F6
      box-shadow: inset 0px 4px 24px 0px rgba(26, 26, 26, 0.07)
      padding: 80px 0
      h1,
      .intro-title,
      .search-form 
        width: 100%
        max-width: 700px
        margin: 0 auto
      h1
        color: #273238
        font-size: 28px
      .search-form
        position: relative
        margin-top: 10px
        input[type="text"]
          border-radius: 4px
          border: 1px solid #E0EAF5     
          position: relative  
          background-color: white  
          padding: 0 12px
          width: 100%
          height: 45px
          font-size: 13px   
          outline: 0!important
          position: relative
          z-index: 1
          &::focus,
          &::active
            outline: 0!important
        svg
          position: absolute
          right: 12px
          top: 9px
          z-index: 2
        button,
        input[type="button"]
          border-radius: 4px
          background: #9A26B5 
          width: 100%
          display: block
          border: 0
          font-size: 13px
          color: white
          font-weight: bold
          height: 40px
          margin-top: 15px             
    &-articles-title
      text-align: center
      position: relative
      display: flex
      align-items: center
      padding: 80px 0
      &-texts
        display: block
        margin: 0 auto
      h2,p
        color: #586872
        margin: 0
        z-index: 3
        position: relative
      h2
        margin-bottom: 15px
        font-size: 29px
      p
        font-weight: 600
        font-size: 20px

  // Article page styles
  &--articlePage
    padding: 35px 0

    .observatorioPage--articles-grid
      margin-top: 50px
      h5
        color: #273238
        font-size: 24px

    &-body

      p, ul, ul li, span
        font-size: 15px
        line-height: 2
        color: #38474F
      p
        margin: 20px 0

    // Breadcrumbs
    &-breadcrumbs
      display: flex
      justify-content: flex-start
      padding: 0 0 
      margin: 0
      width: 100%
    &-breadcrumb
      margin-right: 5px
      padding-right: 15px
      position: relative
      &::after
        content: "|"
        position: absolute
        right: 0
        top: 0
      &:last-child
        margin-right: 0
        padding-right: 0     
        &::after
          display: none   
        .observatorioPage--articlePage-breadcrumb-link
          color: #38474F
      &-link
        color: #7D38A2
        font-size: 14px
    // Article header  
    &-head
      .articleMainTitle
        font-size: 28px
        color: #273238
    &-whoWhen
      padding: 25px 0
      p
        font-size: 14px
        margin: 0
        color: #38474F
      &-time
        text-align: center
      &-when
        text-align: right
  &--likesBlock
    h3
      margin: 40px 0 20px
      color: #273238
      font-size: 24px
    &-btns
      width: 100%
      display: flex
      // justify-content: flex-end
    &-btnLike
      width: 100%
      max-width: 60px
      height: 32px
      border: 1px solid #7D38A2
      background-color: white
      display: flex
      align-items: center
      justify-content: center
      border-radius: 4px
      padding: 0 10px
      &.liked
        svg,
        path,
        g
          fill: #7D38A2
          stroke: #7D38A2
        
      span
        color: #7D38A2
        font-weight: 600
        display: block
        text-align: center
        margin: 0 auto
        line-height: 1
      svg
        display: block
        margin: 0 auto
    &-btnShare
      margin-left: 5px
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      max-width: 32px
      height: 32px
      border-radius: 4px
      background-color: #7D38A2
      border: 1px solid transparent
      svg,
      g,
      path
        fill: white


  // Actions on mobile
  &--contentActions
    display: flex
    align-items: center
    margin-bottom: 15px
    width: 100%
  &--searchBoxMobile
    // display: none  
    width: 180px
    margin-left: auto
    display: none
    &-btn
      width: 40px
      height: 40px
      background-color: #fdfdfd
      border: 1px solid #C5CCD0
      border-radius: 4px
      display: flex
      justify-content: center
      align-items: center
      text-align: center
      margin-left: auto
      .icon_search
        display: block
      .icon_close
        display: none
      &.active
        .icon_search
          display: none
        .icon_close
          display: block
    .searchInput
      border-radius: 4px
      border: 1px solid #C5CCD0
      position: relative
      background-color: white
      padding: 0 12px
      width: 100%
      height: 40px
      font-size: 13px
      outline: 0 !important
      position: relative
      z-index: 1
      margin-top: 10px
      display: none
      &.active
        display: block
  
  
  &--searchBox-mobile
    background-color: #F4F7FB
    padding: 20px
    display: none
    align-items: center
    margin: 10px 0
    &.active
      display: flex
    .searchInput
      border-radius: 4px
      border: 1px solid #C5CCD0
      position: relative
      background-color: white
      padding: 0 12px
      width: 85%
      margin-right: 15px
      height: 40px
      font-size: 13px
      outline: 0 !important
      position: relative
      z-index: 1
    button
      display: block
      width: 100%
      max-width: 100px
      border-radius: 4px
      height: 40px
      background-color: #9A26B5
      color: white
      text-align: center
      font-size: 14px
      white-space: nowrap
      border: 1px solid #9A26B5
      border-radius: 8px
      color: #fff
      font-weight: 600      
  // Actions on mobile


// Modal
.modalFilter
  z-index: 222222222
  .modal-header
    border: 0
  .modal-body
    h3
      color: #273238
    .modalBtnFilter
      display: block
      width: 100%
      max-width: 145px
      padding: 8px
      border-radius: 4px
      background-color: transparent
      color: white
      text-align: center
      font-size: 14px
      white-space: nowrap
      margin-right: 10px
      border: 1px solid transparent
      border-radius: 8px
      color: #38474F
      font-weight: 600
      margin: 0 auto 15px
      &.active-btn
        border-color: #9A26B5
        color: white
      &.btnAll
        &.active-btn
          background-color: #9A26B5
          border-color: transparent
      img.cat-logo
        display: block
        max-height: 30px
        margin: 0 auto      
// Modal


// Swiper custom styles
.swiper-pagination
  position: relative!important
.swiper-pagination-bullet-active
  background: #7D38A2!important
// Swiper custom styles

// Responsive
.observatorioPage--searchBoxMobile-btn
  display: none

@media (min-width: 768px) and (max-width: 1280px)
  .observatorioPage
    &--articlePage
      &-whoWhen 
        p
          font-size: 12px
      &-body 
        p
          font-size: 15px

// Up to 990
@media (min-width: 993px)
  .swiper-pagination
    display: none!important


  .observatorioPage

    &--searchpage
      .observatorioPage--articles-grid
        .swiper
          &-wrapper
            display: flex
            flex-wrap: wrap
            transform: none!important
          &-slide
            width: 100%
            max-width: 25%
 
// Tablet large
@media (max-width: 991px)
  // Hide sidebar
  .sidebarCol
    display: none
  .observatorioPage
    &--searchBoxMobile
      display: block
      position: relative
      &-btn
        display: flex


    // Buttons filters
    &--categories-btns
      &-desk
        display: none
      &-mobile
        display: flex
        align-items: center
        justify-content: flex-end
        width: 100%
        .observatorioPage--searchBoxMobile-btn
          margin-left: 0
    // Buttons filters


// Start responsive for mobile devices    
// Tablet
@media (max-width: 767px)
  // Search page
  .observatorioPage
    &--main
      // Article
      #observatorioPage--articlePage-head-row
        display: flex
        flex-flow: column
        margin-bottom: 30px
        .observatorioPage--articlePage-head-title
          order: 1
        .observatorioPage--articlePage-head-data
          order: 2
        .observatorioPage--articlePage-head-sharediv
          order: 3
    &--articlePage
      &-whoWhen 
        padding: 5px 0 20px
        p
          text-align: left!important
    &--likesBlock
      &-btnShare
        margin-left: 20px

    // Search results
    &--searchpage-articles-title
      padding: 30px 10px
      h2
        font-size: 24px
      p
        font-size: 16px
      .decoration
        display: none
    // Search results 



    // Article 
    &--articlePage
      &-body 
        p
          font-size: 14px  
    // Article 

    // List articles
    &--featured-article
      .row
        flex-flow: column-reverse
      &-img
        margin-bottom: 30px
        img
          max-width: 95%
          width: 95%
    &--titleLine
      margin: 20px 0
      .observatorioPage--titleLine-link
        display: none
      &-txt
        font-size: 22px
      &-link
        justify-content: flex-start
        margin-top: 10px
    &--categorieArticles
      &-mainItem
        &-img 
          img
            left: 0
            width: 100%
      &-othersItems
        .observatorioPage--titleLine-link
          display: flex
        &-grid
          margin-bottom: 20px
    // List articles
    

    // Newsletter
    &--newsletterBlock
      padding: 40px
      &-title
        font-size: 24px
        text-align: center
      &-desc
        text-align: center
        font-size: 14px
    // Newsletter



// Mobile regular
@media (max-width: 560px)

  // Search page
  .observatorioPage
    // Search results
    &--searchpage-mainsearch 
      padding: 55px 0
      h1
        font-size: 24px
      .search-form
        margin-top: 15px
    &--articles-grid 
      .results-text
        text-align: center
        padding-top: 2rem!important
    &--searchpage-articles-title
      padding: 30px 10px
      h2
        font-size: 22px
      p
        font-size: 14px
      .decoration
        display: none
    // Search results

    // Article 
    &--articlePage
      &-body 
        p
          font-size: 14px  
    // Article 

    // List articles
    &--featured-article
      .row
        flex-flow: column-reverse
      &-img
        margin-bottom: 30px
        img
          max-width: 95%
          width: 95%
    &--titleLine
      margin: 20px 0
      .observatorioPage--titleLine-link
        display: none
      &-txt
        font-size: 22px
      &-link
        justify-content: flex-start
        margin-top: 10px
    &--categorieArticles
      &-mainItem
        &-img 
          img
            left: 0
            width: 100%
      &-othersItems
        .observatorioPage--titleLine-link
          display: flex
        &-grid
          margin-bottom: 20px
    // List articles
    

    // Newsletter
    &--newsletterBlock
      padding: 40px
      &-title
        font-size: 24px
        text-align: left
      &-desc
        text-align: left
        font-size: 14px
    // Newsletter


  

// Mobile small
@media (max-width: 380px)
  
  .observatorioPage

    // Article 
    &--articlePage
      &-body 
        p
          font-size: 13px  
          line-height: 1.5
    // Article 